<mat-toolbar  color="primary"  class="fixed-header">
  <mat-toolbar-row>
      <span>
        <a mat-button routerLink = "" > <img  src="./assets/images/logo.png" style="width:50px;"></a>
      </span>
      <a mat-button routerLink="/gallery">Library</a>
      <a *ngIf="isLoggedOut$ | async" mat-button routerLink="/auth">Login</a>
      <ng-container *ngIf="isLoggedIn$ | async">
        <a mat-button routerLink="/auth/profile" routerLinkActive="active">Profile</a>
        <a mat-button routerLink="/watchlist">My Watchlist</a>
        <a mat-button (click)="logout()">Logout</a>
      </ng-container>
  </mat-toolbar-row>
</mat-toolbar>