
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="feature-image-card">
      <mat-card-header>
        <mat-card-title>First image</mat-card-title>       
      </mat-card-header>
      <img mat-card-image src="./assets/images/feature-image.png" 
      alt="Feature image 1">
      <mat-card-content>
        <p>
          Sample Text for Feature image 1.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="feature-image-card">
      <mat-card-header>
        <mat-card-title>Second image</mat-card-title>       
      </mat-card-header>
      <img mat-card-image src="./assets/images/feature-image.png" 
      alt="Feature image 2">
      <mat-card-content>
        <p>
          Sample Text for Feature image 2.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="feature-image-card">
      <mat-card-header>
        <mat-card-title>Third image</mat-card-title>       
      </mat-card-header>
      <img mat-card-image src="./assets/images/feature-image.png" 
      alt="Feature image 3">
      <mat-card-content>
        <p>
          Sample Text for Feature image 3.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>